{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login with your email!</h1>

    <form method="POST">
        <input type="email" name="email">

        <button type="submit">Send Link</button>
    </form>
{% endblock %}
